.searchbar{
    padding: 35px;
    background-color: brown;
    border: solid black 3px;
}

.citySearch{
    margin-top: 20px;
    height:25px;
    border: solid black 2px;
    border-radius: 5px;
}

.weatherTitle{
    color: white;
}

.city{
    color: white;
}

.savedCities{
    height: 100vh;
    background-color: brown;
    padding: 25px 0px 0px 0px ;
}

.card-group{
    height: 40vh;
    margin-top: 20px;
}

.todayWeather{
    height: 40vh;
}

.card-img-top{
    width: 50px;
    aspect-ratio: 1;
}

.title{
    margin: 25px 0px 25px 0px;
}

#search{
    margin: 15px 0px 15px 35px ;
    padding-left: 30px;
    padding-right: 30px;
}

.hide{
    display: none;
}